/* 
    padding (tidak bisa auto & tidak bisa minus

    border: width style color;
    ex : border: 3px solid black
    style border = solid, dotted, dahsed, double

    border & padding menambah ukuran pixel
*/

div {
    width: 200px;
    height: 200px;
    background-color: coral;
    margin: 20px auto;
    padding: 50px;
    border: 5px dotted black;
}